._container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12em !important;
}

.cert-img {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
}

.user-img {
  position: absolute;
  left: 4.2em;
  top: 29.35em;
  width: 260px;
}

.trainee-name-position {
  position: absolute;
  top: 35em;
}
.trainee-name-position .trainee-name {
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  margin: 0 auto;
  word-wrap: break-word;
}

.training-hours-position {
  position: absolute;
  top: 43em;
}
.training-hours-position .training-hours {
  margin: 0 auto;
}

.training-title-position {
  position: absolute;
  top: 47em;
}
.training-title-position .training-title {
  margin: 0 auto;
  font-size: 2.5rem;
  font-weight: bold !important;
  word-wrap: break-word;
}

.training-citation-position {
  position: absolute;
  top: 57em;
}
.training-citation-position .training-citation {
  padding-right: 3rem;
  margin: 0 auto;
  padding-left: 3rem;
}

.training-location-position {
  position: absolute;
  top: 65em;
}
.training-location-position .training-location {
  padding-right: 3rem;
  margin: 0 auto;
  padding-left: 3rem;
}

.training-issued-position {
  position: absolute;
  top: 70em;
}
.training-issued-position .training-issued {
  padding-right: 3rem;
  margin: 0 auto;
  padding-left: 3rem;
}

.training-number-position {
  position: absolute;
  top: 73em;
}

.bottom-info {
  position: absolute;
  bottom: 0;
}
.bottom-info .logo-img {
  max-width: 100%;
  height: 90px;
}
.bottom-info .c-invoice__footer-brand {
  padding-left: 4.5rem !important;
}

.aclass {
  width: 80px;
  height: 80px;
  margin-left: 2.6em;
}

.print-section {
  page-break-after: avoid !important;
  page-break-before: avoid !important;
}

.pres-signature {
  position: relative;
  top: 4.65em;
  width: 190px;
}

.authorized-by {
  position: relative;
  bottom: -65px;
}

@media print {
  .loading-bar-fixed {
    display: none;
  }
  .loading-bar-fixed .loading-bar {
    display: none;
  }
  .loading-bar-fixed .loading-bar-spinner {
    display: none;
  }

  .print-section {
    page-break-after: avoid !important;
    page-break-before: avoid !important;
  }

  ._container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12em !important;
  }

  .user-img {
    position: absolute;
    left: 3em;
    top: 23em;
    width: 235px;
  }

  .trainee-name-position {
    position: absolute;
    top: 31em;
  }

  .training-hours-position {
    position: absolute;
    top: 38em;
  }

  .training-title-position {
    position: absolute;
    top: 41em;
  }

  .training-citation-position {
    position: absolute;
    top: 50em;
  }

  .training-location-position {
    position: absolute;
    top: 57em;
  }

  .training-issued-position {
    position: absolute;
    top: 61em;
  }

  .training-number-position {
    position: absolute;
    top: 64em;
  }

  .bottom-info {
    position: absolute;
    bottom: 0;
  }
  .bottom-info .logo-img {
    max-width: 100%;
    height: 90px;
  }
  .bottom-info .c-invoice__footer-brand {
    padding-left: 4.5rem !important;
  }

  .aclass {
    width: 80px;
    height: 80px;
    margin-left: 2em;
  }

  .pres-signature {
    position: relative;
    top: 4.65em;
    width: 190px;
  }

  .authorized-by {
    position: relative;
    bottom: -65px;
  }
}