<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Forgot Password</title>
</head>

<body>

    <div style="background:#f9f9f9;color:#373737;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:17px;line-height:24px;max-width:100%;width:100%!important;margin:0 auto;padding:0">
        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;line-height:24px;margin:0;padding:0;width:100%;font-size:17px;color:#373737;background:#f9f9f9">
            <tbody>
                <tr>
                    <td valign="top" style="border-collapse:collapse">
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse">
                            <tbody>
                                <tr>
                                    <td valign="bottom" style="border-collapse:collapse;padding:20px 16px 12px">
                                        <div style="text-align:center">
                                            <a href="<%= workspaceURL %>" style="color:#439fe0;font-weight:bold;text-decoration:none;word-break:break-word" target="_blank">
                                                <img src="https://j3-tms-api.herokuapp.com/public/assets/logo.png" style="outline:none;text-decoration:none;border:none;width:60px;height:60px" class="CToWUd"></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="top" style="border-collapse:collapse">
                        <table cellpadding="32" cellspacing="0" border="0" align="center" style="border-collapse:collapse;background:white;border-radius:0.5rem;margin-bottom:1rem">
                            <tbody>
                                <tr>
                                    <td width="546" valign="top" style="border-collapse:collapse">
                                        <div style="max-width:600px;margin:0 auto">

                                            <div style="background:white;border-radius:0.5rem;margin-bottom:1rem">

                                                <p style="font-size:17px;line-height:24px;margin:0 0 16px">You told us
                                                    you <span class="il">forgot</span> your password. If you really
                                                    did, click here to reset and create a new one:</p>

                                                <div style="text-align:center;margin:2rem 0 1rem">
                                                    <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;background:#003a8f;border-bottom:2px solid #0046b0;border-radius:4px;padding:14px 32px;display:inline-block">
                                                        <tbody>
                                                            <tr>
                                                                <td style="border-collapse:collapse">
                                                                    <a href="<%= resetLink %>"
                                                                        style="color:white;font-weight:normal;text-decoration:none;word-break:break-word;display:inline-block;letter-spacing:1px;font-size:20px;line-height:26px"
                                                                        align="center" target="_blank"
                                                                        >Reset password</a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <p style="font-size:0.9rem;line-height:20px;margin:0 auto 1rem;color:#aaa;text-align:center;max-width:100%;word-break:break-word">Need
                                                    the raw link? <a href="<%= resetLink %>"
                                                        style="color:#439fe0;font-weight:bold;text-decoration:none;word-break:break-word"
                                                        target="_blank"><%= resetLink %></a></p>

                                                <p style="font-size:17px;line-height:24px;margin:0 0 16px">If you
                                                    didn't mean to reset your password, then you can just ignore this
                                                    email; your password will not change.</p>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="border-collapse:collapse">
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;margin-top:1rem;background:white;color:#989ea6">
                            <tbody>
                                <tr>
                                    <td valign="top" align="center" style="border-collapse:collapse;padding:16px 8px 24px">
                                        <div style="max-width:600px;margin:0 auto">
                                            <p style="font-size:12px;line-height:20px;margin:0 0 16px;margin-top:16px">
                                                Made by <a href="https://4loop.ph/" style="color:#439fe0;font-weight:bold;text-decoration:none;word-break:break-word" target="_blank"><span
                                                        class="il">4LOOP</span> Inc</a> &nbsp;•&nbsp;
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>