<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Join TMS Web App</title>
</head>

<body>
    <table width="100%" cellpadding="0" cellspacing="0" border="0" class="m_3122030547294758582background_main" style="background-color:#ffffff;padding-top:20px;color:#434245;width:100%">
        <tbody>
            <tr>
                <td valign="top" class="m_3122030547294758582sm_full_width" style="margin:0 auto;width:100%;max-width:600px;display:block">
                    <div class="m_3122030547294758582sm_no_padding" style="margin:0 auto;padding:30px 0 40px;display:block;box-sizing:border-box">

                        <table style="width:100%;color:#434245" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td style="box-sizing:border-box">
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td>

                                                        <img style="width:38px;height:38px;margin:0 0 15px 0;padding-right:30px;padding-left:30px"
                                                            alt="" width="38" height="38" src="https://j3-tms-api.herokuapp.com/public/assets/logo.png"
                                                            class="CToWUd">

                                                        <h1 style="font-size:30px;padding-right:30px;padding-left:30px">
                                                            Join TMS Web App </h1>

                                                        <p style="font-size:17px;padding-right:30px;padding-left:30px">
                                                            J3 Trainers and Consultants, Inc.
                                                            has <span class="il">invited</span> you to join the <strong>TMS
                                                                Web App</strong>.
                                                            Join now to start using it! </p>




                                                        <div style="padding-right:30px;padding-left:30px">


                                                            <table style="width:100%" class="m_3122030547294758582sm_table">
                                                                <tbody>
                                                                    <tr style="width:100%">
                                                                        <td style="width:100%">
                                                                            <span style="display:inline-block;border-radius:4px;background-color:#2ea664"
                                                                                class="m_3122030547294758582sm_full_width">
                                                                                <a class="m_3122030547294758582button_link m_3122030547294758582sm_full_width m_3122030547294758582sm_border_box"
                                                                                    href="<%= joinUrl %>"
                                                                                    style="min-width:196px;border-top:13px solid;border-bottom:13px solid;border-right:24px solid;border-left:24px solid;border-color:#003a8f;border-radius:4px;background-color:#003a8f;color:#ffffff;font-size:18px;line-height:18px;word-break:break-word;display:inline-block;text-align:center;font-weight:900;text-decoration:none!important"
                                                                                    target="_blank">
                                                                                    Join Now
                                                                                </a>
                                                                            </span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>



                                                        <div style="padding-right:30px;padding-left:30px">
                                                            <div style="padding:30px 0 22px;margin:0;padding-top:20px"></div>
                                                        </div>


                                                        <table style="width:100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="box-sizing:border-box;padding:0;padding-right:30px;padding-left:30px">
                                                                        <div style="color:#434245;text-align:left;width:100%;font-size:15px">
                                                                            <table border="0" cellpadding="0"
                                                                                cellspacing="0" style="display:inline-table;vertical-align:top;width:100%">
                                                                                <tbody class="m_3122030547294758582sm_full_width">
                                                                                    <tr class="m_3122030547294758582sm_full_width"
                                                                                        style="border-top:1px solid #e1e1e4">
                                                                                        <td class="m_3122030547294758582sm_full_width"
                                                                                            style="padding-top:10px">

                                                                                            <table border="0"
                                                                                                cellpadding="0"
                                                                                                cellspacing="0" width="434"
                                                                                                class="m_3122030547294758582sm_full_width"
                                                                                                style="display:inline-table;width:434px;max-width:100%">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td width="38"
                                                                                                            style="width:38px;padding-right:15px;padding-top:20px">
                                                                                                            <!-- <a href="<%= workspaceURL %>/signin"
                                                                                                                style="height:38px;width:38px;min-width:38px;border-radius:4px;color:#ffffff;font-size:18px;line-height:38px;vertical-align:middle;text-align:center;text-decoration:none!important;display:block;background-color:#0576b9"
                                                                                                                target="_blank">F</a> -->
                                                                                                                <a href="<%= workspaceURL %>/login"><img style="width:38px;height:38px;padding-right:30px;padding-left:30px;"
                                                                                                                alt="" width="38" height="38" src="https://j3-tms-api.herokuapp.com/public/assets/logo.png"
                                                                                                                class="CToWUd"></a>
                                                                                                            </td>
                                                                                                                
                                                                                                        <td width="378"
                                                                                                            class="m_3122030547294758582sm_auto_width"
                                                                                                            style="padding-top:20px;font-size:15px">
                                                                                                            <strong>J3
                                                                                                                Trainers
                                                                                                                and
                                                                                                                Consultants,
                                                                                                                Inc.</strong><br>
                                                                                                            Workspace
                                                                                                            URL: <a
                                                                                                                href="<%= workspaceURL %>"
                                                                                                                target="_blank">
                                                                                                                <%= workspaceURL %></a>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>

                                                                                            <div style="clear:both"></div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="m_3122030547294758582email_footer" style="padding:0 30px 40px;border-top:1px solid #e1e1e4;line-height:24px;font-size:15px;color:#717274;text-align:center;width:100%">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center" style="margin-top:20px;background-color:white">
                        <tbody>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <span style="display:block">

                                        Made by <a href="https://www.4loop.ph/" style="text-decoration:none;color:#434245" target="_blank">4LOOP Inc.</a>
                                        <br>
                                        <!-- ADDRESS HERE -->
																							</span>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>